@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

body {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
}
/* 
nav {
  width: 100%;
  top: 0;
  height: 5rem;
  overflow: hidden;
  display: block;
  background: rgba(211, 211, 211, 0.7);
} */

.bi-list {
  font-size: 50px;
  top: 0;
  color: #272a31;
  position: fixed;
  padding: 0.5rem;
}

#intro {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 1rem 0 0;
  background-color: rgba(211, 211, 211, 0.7);
  padding: 5rem 3rem 0.5rem 0.5rem;
}

#title {
  margin: auto;
  width: 90%;
  padding: 0.5rem;
  text-align: center;
}

#sub-title {
  font-weight: 100;
  font-size: 20px;
  margin-bottom: 0.5rem;
  color: #ec5242;
}

#main-title {
  font-size: 4ch;
  font-weight: 900;
  letter-spacing: 0.05em;
  margin-top: 0.5rem;
  color: #ec5242;
  line-height: 1.3em;
  background: -webkit-linear-gradient(rgb(165, 74, 74), rgb(206, 40, 40));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* h1 {
    font-size: 72px;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
   */

#intro-text {
  width: 90%;
  border: solid 0.01em rgb(220, 216, 216);
  text-align: center;
  margin: auto;
  padding: 5px;
  background: #fff;
}

#contact-info {
  width: 60%;
  padding: 0.5rem;
  text-align: center;
  margin: auto;
}

#bc-dets {
  text-align: center;
  width: 100%;
  border-bottom: solid 1px rgb(209, 203, 203);
}

#bc-cont {
  width: 85%;
  text-align: center;
  margin: 2rem auto;
  border: solid 1px rgb(209, 203, 203);
  padding: 0.5rem;
}

#bc-logo {
  width: 80%;
  height: 4rem;
  background: url(img/blockchain-logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
}

#small {
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.05em;
  margin: auto;
}

#logo-text {
  width: 70%;
  margin: 1rem auto;
}

h4 {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

#p-logo {
  font-size: 14px;
  text-align: center;
}

#past {
  width: 100%;
  text-align: center;
}

#pic-cont1 {
  width: 75%;
  margin: auto;
  background-image: url(img/summit-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 8rem;
  color: #fff;
  text-align: center;
  box-shadow: inset -100vw -100vh #ec534280;
}

#pic-cont2 {
  text-align: center;
  width: 75%;
  margin: 1rem auto;
  background-image: url(img/summit-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 8rem;
  color: #fff;
  box-shadow: inset -100vw -100vh #ec534280;
}

#pic-cont1:hover {
  box-shadow: none;
}

#pic-cont2:hover {
  box-shadow: none;
}

.cont {
  text-align: center;
  margin: 2rem 0 auto auto;
}

h3 {
  font-size: 20px;
  padding: 1rem 0 0.1rem 0.1rem;
}

.img-text {
  font-size: 12px;
  margin: auto auto;
  padding: 0 0.1rem;
}

#foot {
  width: 100%;
  background: #272a31;
  text-align: center;
}

#partner {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  height: 7rem;
  padding: 0.5rem;
  align-items: center;
  margin: auto;
}

.logo-container {
  width: 30%;
}

.coinbase {
  width: 5rem;
  height: 2rem;
  padding: 0.5rem;
}

.binance {
  width: 6rem;
  height: 2rem;
  padding: 0.5rem;
}

.kraken {
  width: 7rem;
  height: 3rem;
  padding: 0.5rem;
  margin-top: -0.8rem;
}

.luno {
  width: 6rem;
  height: 2rem;
  padding: 0.5rem;
}

.foot-logo {
  width: 8rem;
  height: 4rem;
  padding: 0.5rem;
}

#cr {
  float: right;
  text-align: start;
  font-size: 12px;
  margin: 1.3rem;
  padding: 0.5rem;
}

.toggle-menu {
    display: none;
    text-align: center;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    z-index: 50;
    background-color: #cc8c85;
    position: fixed;
}

li {
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

.menu {
    display: flex;
    width: 70%;
    flex-direction: column;
    gap: 2rem;
    margin: 6rem 3rem auto auto;
}

.bi-x {
    top: 0;
    right: 0;
    font-size: 40px;
    color: #272a31;
  position: fixed;
  padding: 0.5rem;
}
